.servers {
  height: 50px;
  width: 50px;
  background-color: #313338;
  border-radius: 100px;
  display: flex;
  align-items: center;
  fill: #36a659;
  justify-content: center;
  font: bolder;
  transition: all 200ms ease-in-out;
}
.servers-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.servers:hover {
  background-color: #36a659;
  border-radius: 20px;
  cursor: pointer;
  fill: white;
}
.servers-tooltip {
  color: white;
  position: absolute;
  left: 80px;
  background-color: black;
  padding: 3px;
  width: fit-content;
  display: none;
  border-radius: 5px;
}
.servers:hover > .servers-tooltip {
  display: block;
}
.servers-tooltip:before {
  content: "";
  background-color: black;
  height: 10px;
  width: 10px;
  rotate: 45deg;
  position: absolute;
  top: 50%;
  left: -7px;
  transform: translateY(-50%);
}
.servers-tooltip > p {
  margin: 5px;
}
